body {
  background-color: #232323;
  font-family: "Monserrat", "Avenir";
  margin: 0;
}

h1 {
  color: white;
  text-align: center;
  background-color: steelblue;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  padding: 20px 0;
}

#colorDisplay {
  font-size: 180%;
}

.container {
  max-width: 600px;
  margin: 20px auto;
}

.square {
  width: 30%;
  background-color: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 20px; 
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
}

#stripe{
  background-color: white;
  height: 30px;
  text-align: center;
}

#message {
  display: inline-block;
  width: 50%;
  text-transform: uppercase;
  font-weight: 700;
  color: black;
  letter-spacing: 1px;
  font-size: inherit;
  align-self: center;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  outline: none;
  height: 100%;
  transition: all 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
}

button:hover {
  color: white;
  background-color: steelblue;
}

.selected {
  background-color: steelblue;
  color: white;
}